/* Name that color - http://chir.ag/projects/name-that-color */
/* colours */
$colorMineShaft: #282828;
$colorJava: #0fb8ad;
$colorJavalight: #1fc8db;
$colorPictonblue: #2cb5e8;

$colorDefault: $colorMineShaft;
$colorLogo: $colorJavalight;

/* fonts */
$fontProximanova: 'proxima-nova-1', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$fontOswald: 'Oswald', sans-serif;
$fontRelativeBook: "relative-book", sans-serif;
$fontRelativeBold: "relative-bold", sans-serif;
$fontDefault: $fontProximanova;
